<div class="container-fluid">
  <div class="row text-center justify-content-center align-items-center p-3">
    <div style="background-color: #C4C4C4;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
      <h5 class="mt-2">Clientes</h5>
    </div>
  </div>
  <div class="row mb-3 text-center justify-content-center align-items-center p-3" style="background-color: #C4C4C4;">
    <div class="col-9">Nombre Clientes</div>
    <div class="col-3">Acciones</div>
  </div>
  <ng-container *ngIf="clients$ | async">
    <ng-container *ngFor="let client of clientArray"><app-clients [client]="client"></app-clients></ng-container>
  </ng-container>
</div>

