<div class="modal-header text-center" style="background-color: #309cea; color: white;">
  <h4 class="modal-title  w-100 text-center" id="modal-basic-title">Esta seguro de EDITAR {{news.title}}? </h4>
  <button class="btn" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times" style="color: white; font-size: 100%;"></i>
  </button>
</div>
<div class="modal-body text-center">
  <div class="container-fluid">
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card" style="background-color: #E4E4E4;">
        <mat-card-content>
          <ng-container *ngIf="news">
            <div class="row align-items-center">
              <div class="col-2"></div>
              <div class="col-md-4 col-12 text-start">
                Título
              </div>
              <div class="col-md-6 col-12 mt-3">
                <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'}">
                  <mat-label>Título</mat-label>
                  <input matInput placeholder="Título" [(ngModel)]="news.title" formControlName="title" [maxlength] = "maxInputTitle" required>
                  <mat-error *ngIf="addressForm.controls['title'].hasError('required')">
                    Título <strong>REQUERIDO</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-2"></div>
              <div class="col-md-4 col-12 text-start">
                Bajada
              </div>
              <div class="col-md-6 col-12 mt-3">
                <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'}">
                  <mat-label>Bajada</mat-label>
                  <input matInput placeholder="Bajada" [(ngModel)]="news.lead" formControlName="lead" [maxlength] = "maxInputLead" required>
                  <mat-error *ngIf="addressForm.controls['lead'].hasError('required')">
                    Bajada <strong>REQUERIDO</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-2"></div>
              <div class="col-md-4 col-12 text-start">
                Contenido
              </div>
              <div class="col-md-6 col-12 mt-3">
                <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'}">
                  <mat-label>Contenido</mat-label>
                  <textarea matInput placeholder="Contenido" [(ngModel)]="news.content" formControlName="content" [maxlength] = "maxInputContent" [rows]="6" required></textarea>
                  <mat-error *ngIf="addressForm.controls['content'].hasError('required')">
                    Contenido <strong>REQUERIDO</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-2"></div>
              <div class="col-md-4 col-12 text-start">
                Imagen
              </div>
              <div class="col-md-6 col-12 mt-3">
                <input #file type="file" accept='image/*' (change)="preview(file.files)" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '80%'}" required />
                <div class="row text-center justify-content-center align-items-center mt-3">
                  <img [src]="imgURL" *ngIf="imgURL"[ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
                </div>
              </div>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="row text-center justify-content-center align-items-center mt-3">
    <div class="col">
      <button class="btn" style="background-color: #309CEA; color: white;" (click)="edit()">EDITAR</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="activeModal.dismiss('Cross click')">CANCELAR</button>
    </div>
  </div>
</div>

