<app-header></app-header>
<app-certificate></app-certificate>
<app-nav-bar></app-nav-bar>

<div class="container-fluid mt-4 pt-4 mb-4"  style="background-color: #E4E4E4;">
  <div class="row text-center justify-content-center align-items-center">
    <h5>AGENDAR HORA</h5>
  </div>
  <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
  <div class="row">
    <div class="col-12 text-center">
      <button class="btn m-2" type="button" style="color: white;background-color: #049CDB;" (click)="clickCompany('yes')">EMPRESA</button>
      <button class="btn mr-2" type="button" style="color: white;background-color: #049CDB;" (click)="clickCompany('no')">PARTICULAR</button>
    </div>
  </div>
  <ng-container *ngIf= "this.option == 'yes'">
  <div class="row justify-content-center">
    <div class="col-md-6 col-12">
      <h5>DATOS DE LA EMPRESA</h5>
    </div>
  </div>
  <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
    <form class="row needs-validation align-items-center justify-content-center" novalidate>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <label for="validationTooltip01" class="form-label">NOMBRE DE LA EMPRESA</label>
          <input type="text" class="form-control" id="validationTooltip01" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 mt-3">
          <label for="validationTooltip01" class="form-label">RUT DE LA EMPRESA</label>
          <input type="text" class="form-control" id="validationTooltip01" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 mt-3">
          <label for="validationTooltip01" class="form-label">FAENA</label>
          <input type="text" class="form-control" id="validationTooltip01" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 mt-3">
          <label for="validationTooltipUsername" class="form-label">CORREO ELECTRÓNICO</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 text-center  mt-3">
          <label for="validationTooltip03" class="form-label">FECHA</label>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <h5>DATOS DE LOS TRABAJADORES</h5>
        </div>
      </div>
      <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <div class="row text-center justify-content-center align-items-center">
            <div class="col-3">NOMBRE COMPLETO</div>
            <div class="col-3">RUT</div>
            <div class="col-3">CARGO</div>
            <div class="col-3">BATERÍA</div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-2 mb-4">
        <div class="col-md-6 col-12">
          <ng-container *ngFor="let item of dummy"><app-worker></app-worker></ng-container>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 text-center mt-4">
          <button class="btn mb-4" type="submit" style="background-color: #309CEA; color: white;"><i class="fas fa-plus"></i></button> <!-- (click)="addWorker()" -->
        </div>
      </div>
      <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <div class="row justify-content-center">
        <div class="col-12 text-center mt-4">
          <button class="btn mb-4" type="submit" style="background-color: #309CEA; color: white;">ENVIAR</button>
        </div>
      </div>
    </form>
    </ng-container>

    <ng-container *ngIf= "this.option == 'no'">
      <div class="row justify-content-center">
    <div class="col-md-6 col-12">
      <h5>DATOS DEL TRABAJADOR</h5>
    </div>
  </div>
  <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
    <form class="row needs-validation align-items-center justify-content-center" novalidate>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12">
          <label for="validationTooltip01" class="form-label">NOMBRE COMPLETO</label>
          <input type="text" class="form-control" id="validationTooltip01" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 mt-3">
          <label for="validationTooltip01" class="form-label">RUT</label>
          <input type="text" class="form-control" id="validationTooltip01" required>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 mt-3">
          <label for="validationTooltipUsername" class="form-label">CORREO ELECTRÓNICO</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 mt-3">
          <label for="validationTooltipUsername" class="form-label">BATERÍA</label>
          <div class="input-group has-validation">
            <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-12 text-center  mt-3">
          <label for="validationTooltip03" class="form-label">FECHA</label>
        </div>
      </div>

      <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <div class="row justify-content-center">
        <div class="col-12 text-center mt-4">
          <button class="btn mb-4" type="submit" style="background-color: #309CEA; color: white;">ENVIAR</button>
        </div>
      </div>
    </form>
    </ng-container>
</div>

<app-footer></app-footer>




<!-- <form class="row needs-validation align-items-center justify-content-center" novalidate>
  <div class="row justify-content-center">
    <div class="col-md-6 col-12 text-center">
      <label for="validationTooltip01" class="form-label">NOMBRE</label>
      <input type="text" class="form-control" id="validationTooltip01" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-12 text-center mt-3">
      <label for="validationTooltipUsername" class="form-label">CORREO ELECTRÓNICO</label>
      <div class="input-group has-validation">
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-12 text-center  mt-3">
      <label for="validationTooltip03" class="form-label">ASUNTO</label>
      <input type="text" class="form-control" id="validationTooltip03" required>
      <div class="invalid-tooltip">
        Please provide a valid city.
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-12 text-center  mt-3">
      <label for="exampleFormControlTextarea1" class="form-label">MENSAJE</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
      <div class="invalid-tooltip">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
  <div class="row justify-content-center">
    <div class="col-12 text-center mt-4">
      <button class="btn mb-4" type="submit" style="background-color: #309CEA; color: white;">ENVIAR</button>
    </div>
  </div>
</form> -->
