<app-header></app-header>
<app-certificate></app-certificate>
<app-nav-bar></app-nav-bar>


<!-- <app-employee></app-employee>
<app-employee></app-employee>
<app-employee></app-employee>
 -->

<div class="container-fluid">
  <div class="row text-center">
    <h5>NUESTRA HISTORIA</h5>
  </div>
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-md-6 col-12">
      <div class="row">
          Quienes Somos
      </div>
      <div class="row">{{aboutUs}}</div>
    </div>
    <div class="col-md-6 col-12">
      <div class="row">
        Visión
      </div>
      <div class="row">{{vision}}</div>
      <div class="row">
        Misión
      </div>
      <div class="row">{{mission}}</div>
      <div class="row">
        Valores
      </div>
      <div class="row">{{values}}</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
