<div class="container-fluid ">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
      <div class="row text-center justify-content-center align-items-center p-3">
        <div style="background-color: #C4C4C4;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
          <h5 class="mt-2">Crear Exámen</h5>
        </div>
      </div>
      <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Nombre
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Nombre del Exámen</mat-label>
              <input matInput placeholder="Nombre del Exámen" formControlName="name" [maxlength] = "maxInputName" required>
              <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                Nombre del Exámeno <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Laboratorio
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Laboratorio</mat-label>
              <input matInput placeholder="Laboratorio" formControlName="laboratory" [maxlength] = "maxInputProfession" required>
              <mat-error *ngIf="addressForm.controls['laboratory'].hasError('required')">
                Laboratorio <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Tipo de Exámen
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Tipo de Exámen</mat-label>
              <textarea matInput placeholder="Tipo de Exámen" formControlName="type" [maxlength] = "maxInputContent" [rows]="5" required></textarea>
              <mat-error *ngIf="addressForm.controls['type'].hasError('required')">
                Tipo de Exámen <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Unidad
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="example-full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Unidad Métrica</mat-label>
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [maxlength] = "maxInputContent"
                     placeholder="Unidad Métrica"
                     formControlName="unit"
                     [formControl]="unit"
                     [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="addressForm.controls['unit'].hasError('required')">
                Unidad Métrica <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-4">
            <button mat-raised-button class="mb-4" type="submit" style=" color: white;" [disabled]="!addressForm.valid"
              [ngStyle]="{'background-color': !addressForm.valid ? 'gray' : '#309CEA'}" (click)="postUsuario()"
            >AGREGAR EMPLEADO</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
