<form [formGroup]="addressForm">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
        <mat-card-content>
            <div class="row justify-content-center">
                <div class="col-md-8 col-12">
                    <h5>DATOS DE LA EMPRESA</h5>
                </div>
            </div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-12 text-right">
                    NOMBRE DE LA EMPRESA
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '70%'  }">
                        <mat-label>NOMBRE DE LA EMPRESA</mat-label>
                        <input matInput placeholder="NOMBRE DE LA EMPRESA" formControlName="companyName" [maxlength]="maxInputNameCompany" required>
                        <mat-error *ngIf="addressForm.controls['companyName'].hasError('required')">
                            NOMBRE DE LA EMPRESA <strong>REQUERIDO</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-12 text-right">
                    RUT DE LA EMPRESA
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '65%'  }">
                        <mat-label>RUT DE LA EMPRESA</mat-label>
                        <input matInput placeholder="Ej: 11111111-1" formControlName="companyRut" required>
                        <mat-error *ngIf="addressForm.controls['companyRut'].hasError('required')">
                            RUT DE LA EMPRESA <strong>REQUERIDO</strong>
                        </mat-error>
                        <mat-error *ngIf="addressForm.controls['companyRut'].errors?.pattern">
                            FORMATO DE RUT DE LA EMPRESA INCORRECTO <strong>REQUERIDO</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-12 text-right">
                    FAENA
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '65%'  }">
                        <mat-label>FAENA</mat-label>
                        <input matInput placeholder="FAENA" formControlName="task" [maxlength]="maxInputTask" required>
                        <mat-error *ngIf="addressForm.controls['task'].hasError('required')">
                            FAENA <strong>REQUERIDO</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-12 text-right">
                    CORREO ELECTRÓNICO
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '65%'  }">
                        <mat-label>CORREO ELECTRÓNICO</mat-label>
                        <input matInput placeholder="CORREO" formControlName="companyMail" [maxlength]="maxInputMailCompany" required>
                        <mat-error *ngIf="addressForm.controls['companyMail'].hasError('required')">
                            CORREO <strong>REQUERIDO</strong>
                        </mat-error>
                        <mat-error *ngIf="addressForm.controls['companyMail'].errors?.pattern">
                            FORMATO DE CORREO ELECTRÓNICO INCORRECTO <strong>REQUERIDO</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-2"></div>
                <div class="col-md-4 col-12 text-right">
                    FECHA
                </div>
                <div class="col-md-6 col-12 mt-3">
                    <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '65%'  }">
                        <mat-label>Choose a date</mat-label>
                        <input matInput formControlName="date" [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-12">
                    <h5>DATOS DE LOS TRABAJADORES</h5>
                </div>
            </div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
            <div class="row justify-content-center">
                <div class="col-md-10 col-12">
                    <div class="row text-center justify-content-center align-items-center">
                        <div class="col-3">NOMBRE COMPLETO</div>
                        <div class="col-2">RUT</div>
                        <div class="col-1">EDAD</div>
                        <div class="col-2">CARGO</div>
                        <div class="col-2">BATERÍA</div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------------------------------------------------------------------------------>
            <div class="row justify-content-center mt-2 mb-4">
                <div class="col-md-10 col-12">
                    <div formArrayName="examinees">
                        <ng-container *ngFor="let employee of getFormArray().controls; let i = index" formGroupName="{{i}}">
                            <div class="row text-center justify-content-center align-items-center mb-2">
                                <div class="col-3">
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" formControlName="examineeName" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" formControlName="examineeRut" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" formControlName="examineeAge" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="input-group has-validation">
                                        <input type="text" class="form-control" formControlName="examineeJob" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" required>
                                    </div>
                                </div>
                                <div class="col-2 text-center justify-content-center align-items-center">
                                    <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '100%'}">
                                        <mat-label>Batería</mat-label>
                                        <mat-select formControlName="examineeBattery">
                                            <mat-option *ngFor="let option of batteryArray" [value]="option.name">
                                                {{option.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-1">
                                    <div class="input-group has-validation">
                                        <button class="btn" style="background-color: #309CEA; color: white;"><i class="fas fa-minus" (click)="removeExaminee(i)"></i></button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <!--------------------------------------------------------------------------------------------------------------------->
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-4">
                    <button class="btn mb-4" style="background-color: #309CEA; color: white;"><i class="fas fa-plus" (click)="addExaminee()"></i></button>
                </div>
            </div>
            <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;" />
        </mat-card-content>
        <mat-card-actions>
            <div class="row justify-content-center">
                <div class="col-12 text-center mt-4">
                    <button mat-raised-button class="mb-4" type="submit" style="background-color: #309CEA; color: white;" (click)="postApp()">ENVIAR</button>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</form>