<div mat-dialog-content class="mat-dialog-content p-0">
<div class="modal-header text-center" style="background-color: #309cea; color: white;">
  <h4 class="modal-title  w-100 text-center" id="modal-basic-title">Esta seguro de EDITAR {{exaname}}? </h4>
  <button class="btn" (click)="dialogRef.close('Cross click')">
    <i class="fas fa-times" style="color: white; font-size: 100%;"></i>
  </button>
</div>
<div class="modal-body text-center">
  <div class="container-fluid ">
    <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
      <mat-card class="shipping-card" style="background-color: #E4E4E4;">
        <mat-card-content>
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Nombre
            </div>
            <div class="col-md-6 col-12 mt-3">
              <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'  }">
                <mat-label>Nombre del Exámen</mat-label>
                <input matInput placeholder="Nombre del Exámen" formControlName="name" [(ngModel)]="exam.name" [maxlength] = "maxInputName" required>
                <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                  Nombre del Exámen <strong>REQUERIDO</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Tipo de Exámen
            </div>
            <div class="col-md-6 col-12 mt-3">
              <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'}">
                <mat-label>Tipo de Exámen</mat-label>
                <mat-select formControlName="type" [(ngModel)]="exam.type">
                  <mat-option *ngFor="let type of typeArray" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <ng-container *ngIf="this.type === 'Laboratorio'">
            <div class="row align-items-center">
              <div class="col-md-2"></div>
              <div class="col-md-4 col-12 text-right">
                Laboratorio
              </div>
              <div class="col-md-6 col-12 mt-3">
                <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'}">
                  <mat-label>Laboratorio</mat-label>
                  <mat-select formControlName="laboratory" [(ngModel)]="exam.laboratory">
                    <mat-option *ngFor="let laboratory of laboratoryArray" [value]="laboratory.name">
                      {{laboratory.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-2"></div>
              <div class="col-md-4 col-12 text-right">
                Unidad
              </div>
              <div class="col-md-6 col-12 mt-3">
                <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '90%'  }">
                  <mat-label>Unidad Métrica</mat-label>
                  <input matInput placeholder="Unidad Métrica" [(ngModel)]="exam.measurementUnit" formControlName="unit" [maxlength] = "maxInputContent">
                  <mat-error *ngIf="addressForm.controls['unit'].hasError('required')">
                    Unidad Métrica <strong>REQUERIDO</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="row text-center justify-content-center align-items-center mt-3">
    <div class="col">
      <button class="btn" style="background-color: #309CEA; color: white;" (click)="edit()">EDITAR</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="dialogRef.close('Cross click')">CANCELAR</button>
    </div>
  </div>
</div>
</div>
