<div class="container-fluid ">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
      <div class="row text-center justify-content-center align-items-center p-3">
        <div style="background-color: #C4C4C4;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
          <h5 class="mt-2">Agregar Cliente</h5>
        </div>
      </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Nombre Cliente
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Nombre Cliente</mat-label>
              <input matInput placeholder="Nombre Cliente" formControlName="title" [maxlength] = "maxInputName" required>
              <mat-error *ngIf="addressForm.controls['title'].hasError('required')">
                Nombre Cliente <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Imagen
          </div>
          <div class="col-md-6 col-12 mt-3">
            <input #file type="file" accept='image/*' (change)="preview(file.files)" />
            <div class="row">
              <img [src]="imgURL" *ngIf="imgURL" class="w-50">
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-4">
            <button mat-raised-button class="mb-4" type="submit" style=" color: white;" [disabled]="!addressForm.valid"
              [ngStyle]="{'background-color': !addressForm.valid ? 'gray' : '#309CEA'}" (click)="postClient()"
            >AGREGAR CLIENTE</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
