<div class="modal-header text-center" style="background-color: #309cea; color: white;">
  <h4 class="modal-title  w-100 text-center" id="modal-basic-title">{{doctor.name}}</h4>
  <button class="btn" (click)="activeModal.dismiss('Cross click')">
    <i class="fas fa-times" style="color: white; font-size: 100%;"></i>
  </button>
</div>
<div class="modal-body text-center">
  <div class="container-fluid text-center justify-content-center align-items-center">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
      <mat-card-content>
        <ng-container *ngIf="doctor">
          <div class="row align-items-center mb-3">
            <div class="col-2"></div>
            <div class="col-md-4 col-12 text-start">
              Nombre del Doctor
            </div>
            <div class="col-md-6 col-12 text-start">
                {{doctor?.name}}
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-2"></div>
            <div class="col-md-4 col-12 text-start">
              Rut del Doctor
            </div>
            <div class="col-md-6 col-12 text-start">
                {{doctor?.rut}}
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-2"></div>
            <div class="col-md-4 col-12 text-start">
              Especialidad
            </div>
            <div class="col-md-6 col-12 text-start">
                {{doctor?.title}}
            </div>
          </div>
          <div class="row align-items-center mb-3">
            <div class="col-2"></div>
            <div class="col-md-4 col-12 text-start">
              Imagen
            </div>
            <div class="col-md-6 col-12 text-start">
              <img class="card-img-top" style="height: 30vh" [src]="doctor?.image" alt="logo CRISAL">
            </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row text-center justify-content-center align-items-center mt-3">
    <button class="btn" style="background-color: #309CEA; color: white;" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
  </div>
</div>
