<div class="container-fluid mb-5">
  <div class="row align-items-center text-center">
    <h3>CERTIFICACIONES</h3>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row align-items-center justify-content-center">
      <div class="col-md-6 col-12">
        <swiper
          [breakpoints]="breakPoints"
          [speed]="7000"
          [loop]="true"
          [autoplay]="{
            delay: 3000,
            disableOnInteraction: false
          }"
          [centeredSlides]="true"
          [loopFillGroupWithBlank]="true"
        >
        <ng-template swiperSlide><app-card-certificate></app-card-certificate></ng-template>
        <ng-template swiperSlide><app-card-certificate></app-card-certificate></ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
        <ng-template swiperSlide>Slide 4</ng-template>
        <ng-template swiperSlide>Slide 5</ng-template>
        <ng-template swiperSlide>Slide 6</ng-template>
        <ng-template swiperSlide>Slide 7</ng-template>
      </swiper>
  </div>
</div>
</div>

<div class="container-fluid mb-5">
  <div class="row align-items-center text-center">
    <h3>NUESTROS CLIENTES</h3>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row align-items-center justify-content-center">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12">
        <swiper
          [breakpoints]="breakPoints"
          [speed]="7000"
          [loop]="true"
          [autoplay]="{
            delay: 3000,
            disableOnInteraction: false
          }"
          [centeredSlides]="true"
          [loopFillGroupWithBlank]="true"
        >
        <ng-template swiperSlide><app-card-certificate></app-card-certificate></ng-template>
        <ng-template swiperSlide>Slide 2</ng-template>
        <ng-template swiperSlide>Slide 3</ng-template>
        <ng-template swiperSlide>Slide 4</ng-template>
        <ng-template swiperSlide>Slide 5</ng-template>
        <ng-template swiperSlide>Slide 6</ng-template>
        <ng-template swiperSlide>Slide 7</ng-template>
      </swiper>
    </div>
  </div>
</div>
</div>
