<div class="container-fluid">
  <div class="row align-items-center text-center">
    <h3>CERTIFICACIONES</h3>
  </div>
</div>


<div class="multi-carousel" data-interval="2000">
  <div class="multi-carousel-inner">
    <div class="multi-carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg" alt="Gallery image 1" class="w-100">
    </div>
    <div class="multi-carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/2.jpg" alt="Gallery image 2" class="w-100">
    </div>
    <div class="multi-carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/3.jpg" alt="Gallery image 3" class="w-100">
    </div>
    <div class="multi-carousel-item">
      <img src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/4.jpg" alt="Gallery image 4" class="w-100">
    </div>
  </div>
  <a class="carousel-control-prev" tabindex="0" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" tabindex="0" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>






<div class="container-fluid">
  <div class="row align-items-center text-center">
    <h3>NUESTROS CLIENTES</h3>
  </div>
</div>
