<div class="container-fluid">
  <div class="row cardheader align-items-center">
    <div class="col-lg-6 col-12 columitem">
      <img src="/assets/image/logo.jpg" alt="logo CRISAL">
    </div>
    <div class="col-lg-3 col-12 columitem">
      <button type="button" class="btn buttonColor btn-lg" (click)="goToDownloadCertificatesScreens()">DESCARGA DE CERTIFICADOS</button>
    </div>
    <div class="col-lg-3 col-12 columitem">
      <button type="button" class="btn buttonColor btn-lg" (click)="goToValidateCertificatesScreens()">VERIFICACIÓN DE CERTIFICADOS</button>
    </div>
  </div>
</div>
