<div class="container-fluid">
  <div class="row cardheader align-items-center">
    <div class="col-6 columitem justify-content-center">
      <img src="/assets/image/logo.jpg" alt="logo CRISAL" style="margin-top: 0.5cm;">
    </div>
    <div class="col-3 columitem">
      <button type="button" class="btn buttonColor btn-lg">DESCARGA DE CERTIFICADOS</button>
    </div>
    <div class="col-3 columitem">
      <button type="button" class="btn buttonColor btn-lg">VERIFICACIÓN DE CERTIFICADOS</button>
    </div>
  </div>
</div>
