<div class="container-fluid">
  <div class="row text-center justify-content-center align-items-center p-3">
    <div style="background-color: #C4C4C4; border-radius: 5px;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
      <h5 class="mt-2">Certificados Históricos</h5>
    </div>
  </div>
  <div class="row mb-3 text-center justify-content-center align-items-center p-3" style="background-color: #C4C4C4;">
    <div class="col-md-3 col-6">Nombre de la Empresa</div>
    <div class="col-3" [ngStyle]="{'display': getScreenSize()>764 ? 'block' : 'none'}">Certificado</div>
    <div class="col-3" [ngStyle]="{'display': getScreenSize()>764 ? 'block' : 'none'}">Datos del Trabajador</div>
    <div class="col-3">Acciones</div>
  </div>
  <ng-container *ngIf="certificatesArray">
    <ng-container *ngFor="let certificate of certificatesArray"><app-certificates [certificate]="certificate" (newItemEvent)="addItem($event)"></app-certificates></ng-container>
  </ng-container>
</div>

