<div class="container-fluid p-4">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
      <div class="row text-center justify-content-center align-items-center p-3">
        <div style="background-color: #C4C4C4;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
          <h5 class="mt-2">Crear Batería</h5>
        </div>
      </div>
      <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Nombre
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Nombre de la batería</mat-label>
              <input matInput placeholder="Nombre de la batería" formControlName="name" [maxlength] = "maxInputName" required>
              <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                Nombre de la batería <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Descripción
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Descripción</mat-label>
              <input matInput placeholder="Descripción" formControlName="description" [maxlength] = "maxInputDescription" required>
              <mat-error *ngIf="addressForm.controls['description'].hasError('required')">
                Descripción <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
<!----------------------------------------EXAMENES GENERALES------------------------------------------------------------>
        <div class="row justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Exámenes Generales</h5>
          </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Exámenes Generales
          </div>
          <div class="col-md-6 col-12 mt-3">
            <section class="example-section">
              <div class="row" *ngFor="let option of examGeneralArray; let i = index;">
              <mat-checkbox class="example-margin col" (change)="onChangeGeneral(option)"
                            [value]="option.name">{{option.name}}
              </mat-checkbox>
            </div>
            </section>
          </div>
        </div>
<!----------------------------------------EXAMENES LABORATORIO------------------------------------------------------------>
        <div class="row justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Exámenes de Laboratorio</h5>
          </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Exámenes de Laboratorio
          </div>
          <div class="col-md-6 col-12 mt-3">
            <section class="example-section">
              <div class="row" *ngFor="let option of examLaboratorioArray; let i = index;">
              <mat-checkbox class="example-margin col" (change)="onChangeLabroatory(option)"
                            [value]="option.name">{{option.name}}
              </mat-checkbox>
            </div>
            </section>
          </div>
        </div>
<!---------------------------------------------------------------------------------------------------->
      </mat-card-content>
      <mat-card-actions>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-4">
            <button mat-raised-button class="mb-4" type="submit" style=" color: white;" [disabled]="!addressForm.valid"
              [ngStyle]="{'background-color': !addressForm.valid ? 'gray' : '#309CEA'}" (click)="postBattery()"
            >CREAR BATERÍA</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
