<div class="container-fluid">
  <div class="row cardheader align-items-center">
    <div class="col-lg-6 col-12 columitem text-center">
      DIRECCIÓN
      <div>
        <i class="fas fa-map-marker-alt iconcolor"></i>
        {{address}}
      </div>
    </div>
    <div class="col-lg-6 col-12 columitem text-center">
      CONTACTO
      <div>
        <i class="fas fa-envelope iconcolor"></i>
        {{mail}}
      </div>
      <div>
        <i class="fas fa-phone-alt iconcolor"></i>
        {{telephone}}
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-12 text-center">
      COPYRIGHT 2021 CRISAL Salud Laboral. TODOS LOS DERECHOS RESERVADOS
    </div>
  </div>
</div>
