<div class="container-fluid">
  <div class="row cardheader align-items-center">
    <div class="col-6 columitem text-center">
      DIRECCIÓN
      <div>
        {{address}}
      </div>
    </div>
    <div class="col-6 columitem text-center">
      CONTACTO
      <div>
        {{mail}}
      </div>
      <div>
        {{telephone}}
      </div>
    </div>
  </div>
  <!-- <div class="row cardheader align-items-center">
    <div class="col columitem  align-items-center">
      <h6>COPYRIGHT 2021 CRISAL Salud Laboral. TODOS LOS DERECHOS RESERVADOS</h6></div>
  </div> -->
</div>
