<div class="container-fluid p-5">
  <div class="row mb-2">
    <div class="col-md-1 col-12">
      <div class="row">
        {{news.date | date:'yyyy-MM-dd'}}
      </div>
    </div>
    <div class="col-md-10 col-12 align-items-center verticalLine">
      <h5>{{news.title}}</h5>
    </div>
  </div>
  <div class="row text-start">{{news.lead}}</div>
  <div class="row text-start">
    <div class="col-12 mt-1 p-0">
      <button class="btn" type="submit" style="background-color: #309CEA; color: white;" (click)="goToNewsDetailScreens()">LEER MÁS</button>
    </div>
  </div>
</div>

