<div class="modal-header">
  <div class="row text-center justify-content-center align-items-center">
    <h4>Noticia: {{news.title}}? </h4>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <i class="far fa-times-circle"></i>
  </button>
</div>
<div class="modal-body text-center">
  <div class="container-fluid text-center justify-content-center align-items-center">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
      <mat-card-content>
        <ng-container *ngIf="news">
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Título
            </div>
            <div class="col-md-6 col-12 mt-3">
              <div appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
                {{news?.title}}
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Bajada
            </div>
            <div class="col-md-6 col-12 mt-3">
              <div class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
                {{news?.lead}}
              </div>
            </div>
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Fecha
            </div>
            <div class="col-md-6 col-12 mt-3">
              <div appearance="fill"  [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
                {{news?.date  | date:'yyyy-MM-dd'}}
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Contenido
            </div>
            <div class="col-md-6 col-12 mt-3">
              <div class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
                {{news?.content}}
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-2"></div>
            <div class="col-md-4 col-12 text-right">
              Imagen
            </div>
            <div class="col-md-6 col-12 mt-3">
              <img class="card-img-top" style="height: 30vh" [src]="news?.image" alt="logo CRISAL">
            </div>
          </div>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row text-center justify-content-center align-items-center mt-3">
    <button class="btn" style="background-color: #309CEA; color: white;" (click)="activeModal.dismiss('Cross click')">CANCELAR</button>
  </div>
</div>
<div class="modal-footer"></div>
