<div class="card col-12 col-md-3 m-0">
  <div class="card-body">
    <h5 class="card-title"><img src="https://www.example.com/images/dinosaur.jpg"></h5>
    <p class="card-text">{{name}}
      <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fas fa-sort-down"></i>
      </button>
    </p>
    <div class="container-fluid">
      <div class="collapse" id="collapseExample">
        <div class="card card-body" style="background-color: #309CEA; color: white;">
          DETALLES DE LA BATERÍA
        </div>
      </div>
    </div>
  </div>
</div>





