<div class="container-fluid ">
  <form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="background-color: #E4E4E4;">
      <div class="row text-center justify-content-center align-items-center p-3">
        <div style="background-color: #C4C4C4;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
          <h5 class="mt-2">Crear Certificado</h5>
        </div>
      </div>
<!----------------------------------------------------------------------------------------------------------------->
      <div class="row  justify-content-center align-items-center">
        <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
          <h5>Datos Generales</h5>
        </div>
      </div>
      <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
      <mat-card-content>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Certificado Digital
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Toppings</mat-label>
              <mat-select [formControl]="certArray" multiple>
                <mat-option *ngFor="let topping of certArrayList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Fecha de Exámen
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Empresa
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Toppings</mat-label>
              <mat-select [formControl]="companyArray" multiple>
                <mat-option *ngFor="let topping of companyArrayList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Batería
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="fill" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Toppings</mat-label>
              <mat-select [formControl]="batteryArray" multiple>
                <mat-option *ngFor="let topping of batteryArrayList" [value]="topping">{{topping}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------->
        <div class="row  justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Datos del Trabajador</h5>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            RUT del Trabajador
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
              <mat-label>RUT del Trabajador</mat-label>
            <input matInput placeholder="Ej: 11111111-1" formControlName="rut" required>
            <mat-error *ngIf="addressForm.controls['rut'].hasError('required')">
              RUT del Trabajador <strong>REQUERIDO</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['rut'].errors?.pattern">
              FORMATO DE RUT INCORRECTO <strong>REQUERIDO</strong>
            </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Nombre del Trabajador
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
              <mat-label>Nombre del Trabajador</mat-label>
              <input matInput placeholder="Nombre del Trabajador" formControlName="name" [maxlength] = "maxInputName" required>
              <mat-error *ngIf="addressForm.controls['name'].hasError('required')">
                Nombre del Trabajador <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Edad del Trabajador
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
              <mat-label>Edad del Trabajador</mat-label>
              <input matInput placeholder="Edad del Trabajador" formControlName="age" [maxlength] = "maxInputAge" required>
              <mat-error *ngIf="addressForm.controls['age'].hasError('required')">
                Edad del Trabajador <strong>REQUERIDO</strong>
              </mat-error>
              <mat-error *ngIf="addressForm.controls['age'].errors?.pattern">
                FORMATO DE EDAD INCORRECTO <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Cargo del Trabajador
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Cargo del Trabajador</mat-label>
              <input matInput placeholder="Cargo del Trabajador" formControlName="position" [maxlength] = "maxInputposition" required>
              <mat-error *ngIf="addressForm.controls['position'].hasError('required')">
                Cargo del Trabajador <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------->
        <div class="row  justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Exámenes de Apoyo Clínico</h5>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Pulso
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
              <mat-label>Pulso</mat-label>
              <input matInput placeholder="Pulso" formControlName="pulse" required>
              <mat-error *ngIf="addressForm.controls['pulse'].hasError('required')">
                Pulso <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            P.A
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
              <mat-label>P.A</mat-label>
              <input matInput placeholder="P.A" formControlName="pa" required>
              <mat-error *ngIf="addressForm.controls['pa'].hasError('required')">
                P.A <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Peso
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
              <mat-label>Altura</mat-label>
              <input matInput placeholder="Altura" formControlName="weight" required>
              <mat-error *ngIf="addressForm.controls['weight'].hasError('required')">
                Altura <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Altura
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>Altura</mat-label>
              <input matInput placeholder="Altura" formControlName="height" required>
              <mat-error *ngIf="addressForm.controls['height'].hasError('required')">
                Altura <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            IMC
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>IMC</mat-label>
              <input matInput placeholder="IMC" formControlName="imc" required>
              <mat-error *ngIf="addressForm.controls['imc'].hasError('required')">
                IMC <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            %SAT 02
          </div>
          <div class="col-md-6 col-12 mt-3">
            <mat-form-field class="full-width" appearance="outline" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              <mat-label>%SAT 02</mat-label>
              <input matInput placeholder="%SAT 02" formControlName="sat02" required>
              <mat-error *ngIf="addressForm.controls['sat02'].hasError('required')">
                %SAT 02 <strong>REQUERIDO</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------->
        <div class="row  justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Exámenes Generales</h5>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
<!----------------------------------------------------------------------------------------------------------------->
        <div class="row  justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Exámenes de Laboratorio</h5>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
<!----------------------------------------------------------------------------------------------------------------->
        <div class="row  justify-content-center align-items-center">
          <div style [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
            <h5 class="mt-2">Datos Finales</h5>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Conclusiones Médicas
          </div>
          <div class="col-md-6 col-12 mt-3">
            <div class="full-width" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              asdas
            </div>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Indicaciones
          </div>
          <div class="col-md-6 col-12 mt-3">
            <div class="full-width" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              asdas
            </div>
          </div>
        </div>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Vigencia
          </div>
          <div class="col-md-6 col-12 mt-3">
            <div class="full-width" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              asdas
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Fecha
          </div>
          <div class="col-md-6 col-12 mt-3">
            <div class="full-width" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              asdas
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3"></div>
          <div class="col-md-3 col-12 text-right">
            Doctor
          </div>
          <div class="col-md-6 col-12 mt-3">
            <div class="full-width" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'  }">
              asdas
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <hr style="width:50%; margin-left:25% !important; margin-right:25% !important;"/>
        <div class="row justify-content-center">
          <div class="col-12 text-center mt-4">
            <button mat-raised-button class="mb-4" type="submit" style=" color: white;" [disabled]="!addressForm.valid"
              [ngStyle]="{'background-color': !addressForm.valid ? 'gray' : '#309CEA'}"
            >CREAR</button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
