<div class="container-fluid">
  <div class="row text-center justify-content-center align-items-center p-2">
    <div style="background-color: #C4C4C4; border-radius: 5px;" [ngStyle]="{'width': getScreenSize()<=764 ? '100%' : '50%'}">
      <h5 class="mt-2">Doctores</h5>
    </div>
  </div>
  <div class="row mb-3 text-center justify-content-center align-items-center p-3" style="background-color: #C4C4C4; border-radius: 5px;">
    <div class="col-6">Nombre del Doctor</div>
    <div class="col-3" [ngStyle]="{'display': getScreenSize()>764 ? 'block' : 'none'}">Especialidad</div>
    <div class="col">Acciones</div>
  </div>
  <ng-container *ngIf="doctorArray">
    <ng-container *ngFor="let doctor of doctorArray"><app-doctor [doctor]="doctor" (newItemEvent)="addItem($event)"></app-doctor></ng-container>
  </ng-container>
</div>
